/* Global */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing:inherit;
}
body{
    padding: 0;
    margin: 0;
    font-family:"Roboto Condensed","Arial", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #222;
    background-color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
*:focus{
    outline: 2px dashed #a78597;
   outline-offset: 2px;

}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;

}

/* Main-content */
.main-content{
    flex-grow:1; 
    display: flex;
    flex-direction: column;   

}

/* Global-wrapper */
.global-wrapper{
    width: 100%;
    display: flex;
    flex-grow:1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
  /* HERO */
.hero{
    padding: 24px;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-image:url(../img/Bag\ background.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center  ;
}
.hero-content{
    max-width: 285px;
}

.hero-heading{
    text-transform: uppercase;
    margin-top: 0;
    font-size: 30px;
    color:#fff;
    font-family: Oswald, Arial, sans-serif;
    margin-bottom: 24px;
    letter-spacing: 2px;
    font-weight: 400;
}
.hero-button-link{
    letter-spacing: 2px;
    font-family: Oswald, Arial, sans-serif;
    background-color:rgb(167, 133, 151);
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.hero-icon-inner{
    display: flex;
    padding: 12px 24px;
    
}
.hero-icon-inner::before{
    width: 25px;
    height: 25px;
    background-image: url("../img/staricon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:  center top;
    margin-right: 12px;
    content:"";
    
}
.hero-button-link:hover{
background-color:rgba(204, 80, 133, 0.8) ;
}
/* Content */
.content-videos {
    width: 100%;
    max-width: 600px;
    padding: 54px;
    background-color: #fff;
}
.content-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: normal;
    font-family: Oswald, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing:2px;
    font-weight: 400;
}
.content-videos-divider {
    border: 0;
    height: 1px;
    background-color: #999;
    margin-bottom: 24px;
    margin-top: 24px;
}
.content-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 24px;
}
.content-item:not(:last-child) {
    margin-bottom: 10px;
}
.item-content {
    display: flex;
}
.content-img {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}
.content-info{
    padding: 16px;
}
.content-item-heading {
    margin-top: 0;
    font-family: Oswald, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 4px;
}
.content-link {
    display: inline-block;
    text-decoration: none;
    color: #222;
}
.content-link:hover{
    opacity: 0.8; 
    color: rgba(204, 80, 133 );

}
.content-link:active{
opacity: 0.6;
}
.content-meta {
    display: flex;
    align-items: center;
    color: #888;
    font-size: 14px;
    line-height: normal;
}
.content-meta-item{
    display: flex;
    align-items:center;
}
.content-meta-item:not(:last-child){
    margin-right: 24px; 
}
.content-meta-item::before{
    content:"";
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 4px;  
}


.content-uploaded-time::before{
    background-image: url("../img/icon-clock.svg");
   
}

.content-views::before{
    background-image: url("../img/icon-eye.svg");
   
}
.download-button{
    width: 100%;
    background-color:#a78597;
    font-size: 30px;
    font-family: Oswald, Arial, sans-serif;
    color:#fff;
    display: block;
    border:0;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border-radius:4px;
    font-size: 16px;
}
.download-button:hover{
    background-color: rgba(204, 80, 133, 0.8); 
 }
 .download-button:active{
    background-color: rgba(204, 80, 133, 0.6); 
 }

/* retina bg */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
   
    .hero{
    background-image:url("../img/Bag\ background@2x.jpg");
   }
}
